{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>{{article.title | capitalize}}</h2>
		<div class="metadata">
			<span>Ecris le
				{{article.createdAt | date("m/d/y")}}
				à
				{{article.createdAt | date('H:i')}}</span>
		</div>
		<div class="content">
			<img src="{{article.image}}" alt="">
			<p class="text">{{article.content}}</p>
		</div>
	</article>


{% endblock %}
